body{margin: 0;}
#wrapper{display: grid; gap: 12px;}
#wrapper > * {background-color: lightblue; padding: 1em;
font-size: 1.2em; color: royalblue; font-weight: bold;}
header{position: relative; min-width: 80px;}
nav ul{padding-left: 0.5em; background-color: aqua;}
nav li {display: inline-block; margin-right: 1em; color: #333;}
#menu {color: #333; height: 64px; background-color: aqua;
        position: absolute; top: 0; right:0; cursor: pointer;
        display: flex; align-items: center; justify-content: center; 
        }
main div {margin: 1em; padding: 1em; height: 67vh; color: #333; font-weight: normal; background-color: yellow;}
footer{height: 200px;}
@media(max-width:768px){
    nav{display: none;}
    #menu:hover + nav {
        display: inherit;
        text-align: right;
    }
    #menu:hover + nav li{
        display: block;
        padding: 0.6em;
    }
}
@media(min-width:769px){
    #menu{display: none;}
    #wrapper {grid-template-columns: 200px 1fr;}
    header, footer {grid-column: 1/-1;}
}