body{margin: 0;}
section{display: flex; flex-direction: column;
    height: 100vh; color: white;
    align-items: center; justify-content: center;
    background-color: black;
}
div{font-size: 1.4em; display: none;}

@media (max-width:480px) {
    section{background-color: tomato;}
    .mobile{display: inherit;}
}
@media (min-width:481px) and (max-width:767px) {
    section{background-color: green;}
    .low-tablet{display: inherit;}
}
@media (min-width:768px) and (max-width:1024px) {
    section{background-color: yellow;}
    .low-pc{display: inherit;}
}
@media (max-width:480px), (min-width:1080px) {
    div{color:pink;}
    .high-pc{display: inherit;}
}